
.btn-primary {
  background: $color-font-primary-light;
  color: #000;
  &:active {
    background:$color-font-primary-dark !important;
    color: $color-font-primary-light;
  }
  &:hover {
    background:$color-font-primary-dark ;
    color: #777;
  }
}
.btn-primary.active {
  opacity: 0.8;
  background:$color-font-primary-dark  !important;
  box-shadow: none !important;
}
.btn-primary.focus {
  background: $color-font-primary-dark !important;
  box-shadow: none !important;
}
