{{ define "main" }}
<div class="container mt-5">
  <ul class="nav nav-tabs  flex-column flex-sm-row " id="people-tabs">
    <li class="nav-item">
                              
                  <a class="nav-link active flex-sm-fill" href="#faculty-panel" a data-toggle="tab"> faculty </a>
                
                </li>
              
                <li class="nav-item">
                
                  <a class="nav-link  flex-sm-fill" href="#staff-panel" a data-toggle="tab"> staff </a>
                
                </li>
              
                <li class="nav-item">
                
                  <a class="nav-link  flex-sm-fill" href="#collaborators-panel" a data-toggle="tab"> collaborators </a>
                
                </li>
              
                <li class="nav-item">
                
                  <a class="nav-link  flex-sm-fill" href="#Researchers-panel" a data-toggle="tab"> Researchers </a>
                
                </li>
              
                <li class="nav-item">
                
                  <a class="nav-link  flex-sm-fill" href="#alumni-panel" a data-toggle="tab"> alumni </a>
                
                </li>
              
          </ul>
  
       <div class="tab-content  pt-5 " >
        <div class="tab-pane fade show active" id="faculty-panel">
         <div class="row">
         {{ with .Site.Data.peoplepage.faculty }} 
          {{ range .items}}
        <div class="col-3">
        <div class="wow bounceInUp mt-5" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: bounceInUp;">
        <div class="card card__news" style="width: 97%;">
        <div class="card-image">
         <img src="{{ .image }}"  alt="" class="card-img-top card__news-img" style="width:95%;height:25vh;border-radius: 50%;margin:10px 4px;">
         </div>
        <div class="card-body">
          <h1 class="text-center"><b><a class="card-title card__news-header" href="{{ .link }}">{{ .title }}</a></b></h1>
            <div>
              <h4 class="text-center">{{ .role }}</h4>
                </div>
                  <div>
                    <p class="card-text">
                        {{ .summary }}
                    </p>
                  </div>
            </div>
        </div>
      </div>
    </div>
       {{ end }}
       {{ end }}
        </div>
      </div>
        
      <div class="tab-pane fade show" id="staff-panel">
         <div class="row">
         {{ with .Site.Data.peoplepage.staff }} 
          {{ range .items}}
        <div class="col-3">
        <div class="wow bounceInUp mt-5" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: bounceInUp;">
        <div class="card card__news" style="height: 40vh;">
        <div class="card-image" style="width: 12.5vw; height:60vh;">
         <img src="{{ .image }}"  alt="" class="card-img-top card__news-img" style="height:28vh;margin:5px;border-radius:50%;text-align: center">
         </div>
        <div class="card-body">
          <h1 class="text-center"><b><a class="card-title card__news-header" href="{{ .link }}">{{ .title }}</a></b></h1>
            <div>
              <h4 class="text-center">{{ .role }}</h4>
                </div>
                  <div>
                    <p class="card-text">
                        {{ .summary }}
                    </p>
                  </div>
            </div>
        </div>
      </div>
    </div>
       {{ end }}
       {{ end }}
        </div>
      </div>

        <div class="tab-pane fade show" id="collaborators-panel">
         <div class="row">
         {{ with .Site.Data.peoplepage.collaborators }} 
          {{ range .items}}
        <div class="col-3">
        <div class="wow bounceInUp mt-5" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: bounceInUp;">
        <div class="card card__news" style="height: 40vh;">
        <div class="card-image" style="width: 12.5vw; height:60vh;">
         <img src="{{ .image }}"  alt="" class="card-img-top card__news-img" style="height:28vh;margin:5px;border-radius:50%;text-align: center">
         </div>
        <div class="card-body">
          <h1 class="text-center"><b><a class="card-title card__news-header" href="{{ .link }}">{{ .title }}</a></b></h1>
            <div>
              <h4 class="text-center">{{ .role }}</h4>
                </div>
                  <div>
                    <p class="card-text">
                        {{ .summary }}
                    </p>
                  </div>
            </div>
        </div>
      </div>
    </div>
       {{ end }}
       {{ end }}
        </div>
      </div>

       <div class="tab-pane fade show" id="Researchers-panel">
         <div class="row">
         {{ with .Site.Data.peoplepage.Researchers }} 
          {{ range .items}}
        <div class="col-3">
        <div class="wow bounceInUp mt-5" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: bounceInUp;">
        <div class="card card__news" style="height: 40vh;">
        <div class="card-image" style="width: 12.5vw; height:60vh;">
         <img src="{{ .image }}"  alt="" class="card-img-top card__news-img" style="height:28vh;margin:5px;border-radius:50%;text-align: center">
         </div>
        <div class="card-body">
          <h1 class="text-center"><b><a class="card-title card__news-header" href="{{ .link }}">{{ .title }}</a></b></h1>
            <div>
              <h4 class="text-center">{{ .role }}</h4>
                </div>
                  <div>
                    <p class="card-text">
                        {{ .summary }}
                    </p>
                  </div>
            </div>
        </div>
      </div>
    </div>
       {{ end }}
       {{ end }}
        </div>
    </div>

     <div class="tab-pane fade show" id="alumni-panel">
         <div class="row">
         {{ with .Site.Data.peoplepage.alumni }} 
          {{ range .items}}
        <div class="col-3">
        <div class="wow bounceInUp mt-5" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: bounceInUp;">
        <div class="card card__news" style="height: 40vh;">
        <div class="card-image" style="width: 12.5vw; height:60vh;">
         <img src="{{ .image }}"  alt="" class="card-img-top card__news-img" style="height:28vh;margin:5px;border-radius:50%;text-align: center">
         </div>
        <div class="card-body">
          <h1 class="text-center"><b><a class="card-title card__news-header" href="{{ .link }}">{{ .title }}</a></b></h1>
            <div>
              <h4 class="text-center">{{ .role }}</h4>
                </div>
                  <div>
                    <p class="card-text">
                        {{ .summary }}
                    </p>
                  </div>
            </div>
        </div>
      </div>
    </div>
       {{ end }}
       {{ end }}
        </div>
      </div>

  </div>
</div>


          
{{ end }}
