{{ define "main" }}
<div class="section">
<div class="row mt-2">
  <div class="col-12">
  <section class="section-hero-news hero hero--news" style="margin-top:4%;height: 35vh;">
  <div class="hero-breadcrumb">
  <div class="carousel__item--heading text-center">Other Programs</div>
</div>
</section>
</div>
</div>

<div class="container mt-5">
  <div class="row mb-3">
    <div class="col-5">
        <img class="featurette-image img-fluid mx-auto " src="/images/programs/distinguished_fellow.jpg">
    </div>
    <div class="col-7">
      <h3 align="justify" style="margin-top: 2.5rem">Robert Bosch Centre for Data Science and Artificial Intelligence (RBCDSAI) launches a prestigious distinction for pre-eminent faculty across the globe who have worked closely with the centre over the years. The main objective of the program is to honour academics for their valuable contribution to data science and AI, encourage sustained and long-term ties between the centre and the recipients, and inspire new researchers to initiate meaningful collaborations with the centre. The award carries a tenure of five years and the benefits include a recognition ceremony which will be held annually with all fellows and an RBCDSAI lapel pin, return economy class airfare to Chennai, once per year, Office space for the period of stay, local conveyance and contingency budget, Accommodation in the IITM guest house if it is available during the period.</h3>
    </div>
  </div>
  <br>
  <div class="row mb-5">
    <div class="col-5">
        <img class="featurette-image img-fluid mx-auto " src="/images/programs/associate_researcher.jpg">
    </div>
    <div class="col-7">
      <h3 align="justify" style="margin-top: 2.5rem"> Robert Bosch Centre for Data Science and Artificial Intelligence (RBCDSAI) offers the associate researcher program for faculty members from academic institutes and colleges in India to pursue research in areas of Data Science and Artificial Intelligence at RBCDSAI, IIT Madras. The program is intended for two to six weeks per year, for a period of two years. The program affords office space at RBCDSAI, computer resources, travel expenses, accommodation at the IITM guest house (if available), and an honorarium for covering local expenses</h3>
    </div>
  </div>
  <br>
    <div class="row mb-5">
    <div class="col-5">
        <img class="featurette-image img-fluid mx-auto " src="/images/programs/visiting_researcher.jpg">
    </div>
    <div class="col-7">
      <h3 align="justify" style="margin-top: 2.5rem"> RBCDSAI offers this program aimed at international researchers (typically, PhDs and Postdocs) to pursue collaborations in areas of Data Science and Artificial Intelligence and their applications. The program supports visits from three to twelve weeks. The program offers workspace at RBCDSAI, compute resources, travel expenses between the researcher’s parent institute and IIT Madras, Accommodation at the IIT Madras guest house (if it is available during the period)</h3>
    </div>
  </div>
<br>
<div class="row mb-5">
    <div class="col-5">
        <img class="featurette-image img-fluid mx-auto " src="/images/programs/research_xp.jpg">
    </div>
    <div class="col-7">
      <h3 align="justify" style="margin-top: 2.5rem"> RBCDSAI offers the research experience program for hosting research scholars from other universities in India. The main objective of the program is to foster collaboration with and provide support for research work carried out Data Science and Artificial Intelligence and their applications in India. The travel is expected for four to eight continuous weeks. The program offers workspace, compute resources, domestic air travel, and expenses for a maximum of ₹20,000 per month.</h3>
    </div>
  </div>
</div>




 
 
{{ end }}
