 {{ define "main" }}
<section class="section-hero-news hero hero--news" style="margin-top:4%;height: 35vh;">
<div class="hero-breadcrumb">
<div class="carousel__item--heading text-center">Credits</div>
</div>
</section>

<div class="container mt-5">
<div class="justify">
 <div>
  <h2><b>IBSE logo was designed by Gaurav Bilolikar, an Alumni of IBSE.</b></h2>
</div>
<br>
<h1>Built with:</h1>
  {{ with .Site.Data.creditspage.Builtwith }} 
  {{ range .items}}
<div  class="wow bounceInUp mb-2" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: bounceInUp;font-size: 1.75rem;">
  <i class="fas fa-link"></i><span class="ml-2 credits-title "><a href="{{ .link }}"><b>{{ .title }}</b></a></span>
</div>
{{ end }}
{{ end }}

<h1>Image credits :</h1>
  {{ with .Site.Data.creditspage.Imagecredits }} 
  {{ range .items}}
<div class="wow bounceInUp mb-2" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: bounceInUp;font-size: 1.75rem;">
   <i class="fas fa-link"></i><span class="ml-2 credits-title"><a href="{{ .link }}"><b>{{ .link }}</b></a></span>
</div>
{{ end }}
{{ end }}
<br>

<div>
  <h1>Web Developers:</h1>
<div class="wow bounceInUp mb-5" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: bounceInUp;font-size: 1.75rem;">
 <b><span class="credits-title"><a  href="https://www.megamsolutions.com/">Megam Solutions Development Team</a></span><span class="ml-2">For You Business Digital Transformation.</span></b>
</div>
<br>
</div>
</div>
</div>
{{ end }}