


{{ define "main" }}

<div class="card-deck mt-5">
     {{ range .Data.Terms.ByCount }}
  <div class="card">
          <a href="{{ .Page.Permalink }}">
             {{ $firstChild := index .Pages 0 }}
               {{ with $firstChild.Params.images }}
                  <img src="{{ index . 0 }}"  alt="" class="card-img-top card__news-img"></a>
               {{ end }}
          </a>

    <div class="card-body">
        <h5> <a class="card-title" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></h5>
        <div class="card-text">
            {{ $pageCount := len .Pages }}
            <p>{{ $pageCount }} post{{ if ne $pageCount 1 }}s{{ end }} </p>
        </div>
    </div>
  </div>
   {{ end }}
</div>

{{ end }}

