{{ define "main" }}
<div class="container mt-5">
  <ul class="nav nav-tabs  flex-column flex-sm-row " id="people-tabs">
    <li class="nav-item">
                              
                  <a class="nav-link active flex-sm-fill" href="#governing-panel" a data-toggle="tab"> Governing Council </a>
                
                </li>
              
                <li class="nav-item">
                
                  <a class="nav-link  flex-sm-fill" href="#technology-panel" a data-toggle="tab"> Technology Review Board </a>
                
                </li>
              
                <li class="nav-item">
                
                  <a class="nav-link  flex-sm-fill" href="#core-panel" a data-toggle="tab"> Core Group </a>
                
                </li>
              
                <li class="nav-item">
                
                  <a class="nav-link  flex-sm-fill" href="#chief-panel" a data-toggle="tab"> Chief Operating Officer </a>
                
                </li>
              </ul>
  
       <div class="tab-content  pt-5 " >
        <div class="tab-pane fade show active" id="governing-panel">
         <div class="row">
         {{ with .Site.Data.managementpage.Governing }} 
          {{ range .items}}
        <div class="col-3">
        <div class="wow bounceInUp mt-5" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: bounceInUp;">
        <div class="card card__news" style="height: 40vh;">
        <div class="card-image" style="width: 12.5vw; height:60vh;">
         <img src="{{ .image }}"  alt="" class="card-img-top card__news-img" style="height:28vh;margin:5px;border-radius:50%;text-align: center">
         </div>
        <div class="card-body">
          <h1 class="text-center"><b><a class="card-title card__news-header" href="{{ .link }}">{{ .title }}</a></b></h1>
            <div>
              <h4 class="text-center">{{ .role }}</h4>
                </div>
                  <div>
                    <p class="card-text">
                        {{ .summary }}
                    </p>
                  </div>
            </div>
        </div>
      </div>
    </div>
       {{ end }}
       {{ end }}
        </div>
      </div>
        
      <div class="tab-pane fade show" id="technology-panel">
         <div class="row">
         {{ with .Site.Data.managementpage.technology }} 
          {{ range .items}}
        <div class="col-3">
        <div class="wow bounceInUp mt-5" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: bounceInUp;">
        <div class="card card__news" style="height: 40vh;">
        <div class="card-image" style="width: 12.5vw; height:60vh;">
         <img src="{{ .image }}"  alt="" class="card-img-top card__news-img" style="height:28vh;margin:5px;border-radius:50%;text-align: center">
         </div>
        <div class="card-body">
          <h1 class="text-center"><b><a class="card-title card__news-header" href="{{ .link }}">{{ .title }}</a></b></h1>
            <div>
              <h4 class="text-center">{{ .role }}</h4>
                </div>
                  <div>
                    <p class="card-text">
                        {{ .summary }}
                    </p>
                  </div>
            </div>
        </div>
      </div>
    </div>
       {{ end }}
       {{ end }}
        </div>
      </div>

        <div class="tab-pane fade show" id="core-panel">
         <div class="row">
         {{ with .Site.Data.managementpage.core }} 
          {{ range .items}}
        <div class="col-3">
        <div class="wow bounceInUp mt-5" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: bounceInUp;">
        <div class="card card__news" style="height: 40vh;">
        <div class="card-image" style="width: 12.5vw; height:60vh;">
         <img src="{{ .image }}"  alt="" class="card-img-top card__news-img" style="height:28vh;margin:5px;border-radius:50%;text-align: center">
         </div>
        <div class="card-body">
          <h1 class="text-center"><b><a class="card-title card__news-header" href="{{ .link }}">{{ .title }}</a></b></h1>
            <div>
              <h4 class="text-center">{{ .role }}</h4>
                </div>
                  <div>
                    <p class="card-text">
                        {{ .summary }}
                    </p>
                  </div>
            </div>
        </div>
      </div>
    </div>
       {{ end }}
       {{ end }}
        </div>
      </div>

       <div class="tab-pane fade show" id="chief-panel">
         <div class="row">
         {{ with .Site.Data.managementpage.Chief }} 
          {{ range .items}}
        <div class="col-3">
        <div class="wow bounceInUp mt-5" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: bounceInUp;">
        <div class="card card__news" style="height: 40vh;">
        <div class="card-image" style="width: 12.5vw; height:60vh;">
         <img src="{{ .image }}"  alt="" class="card-img-top card__news-img" style="height:28vh;margin:5px;border-radius:50%;text-align: center">
         </div>
        <div class="card-body">
          <h1 class="text-center"><b><a class="card-title card__news-header" href="{{ .link }}">{{ .title }}</a></b></h1>
            <div>
              <h4 class="text-center">{{ .role }}</h4>
                </div>
                  <div>
                    <p class="card-text">
                        {{ .summary }}
                    </p>
                  </div>
            </div>
        </div>
      </div>
    </div>
       {{ end }}
       {{ end }}
        </div>
    </div>
  </div>
</div>
{{ end }}
