
<!---
THIS PAGE USED TO SHOW CARD COMPONENT WHICH IS USED IN RESEARCH LIST AND SINGLE PAGE,etc..
--->
{{ $permalink := .Permalink }}
  
  <div class="card-deck mt-5">
  <div class="card card__news" style="height: 30vh;">
    {{ with .Params.images }}
      <a href="{{ $permalink }}"><img src="{{ index . 0 }}"  alt="" class="card-img-top card__news-img"></a>
       {{ end }}
         <div class="card-body">
                 <h3> <a class="card-title card__news-header" href="{{ .Permalink }}">{{ .Title }}</a></h3>
                 <hr>
                    <div class="card-text">
                      {{ .Summary }}
                    </div>
                     <div class="card__news-cta mb-2" style="display:inline-block;margin-left:75%;">
                        {{- if .Truncated -}}
                         <a class="btn-text btn-text--small" href='{{ .RelPermalink }}'>Read &rarr;</a>
                        {{- end -}}
                        </div>
                      <br>
            </div>
    </div>
</div>


 


