
<!---
THIS PAGE USED TO SHOW CARD COMPONENT WHICH IS USED IN RESEARCH LIST AND SINGLE PAGE,etc..
--->
{{ $permalink := .Permalink }}
 <div class="wow bounceInUp mt-5" data-wow-duration="2.4s" style="visibility: visible; animation-duration: 2.4s; animation-name: bounceInUp;">
  <div class="card card__news">
    {{ with .Params.images }}
      <a href="{{ $permalink }}"><img src="{{ index . 0 }}"  alt="" class="card-img-top card__news-img"></a>
       {{ end }}
         <div class="card-body">
             <div class="d-inline-block">
               {{ range .Params.categories }}
                 <button class="btn btn--animated mb-1"> <a class="category" href="/categories/{{ . | urlize}}">{{ . }}</a></button>
               {{ end }}
             </div>
                <h5> <a class="card-title card__news-header" href="{{ .Permalink }}">{{ .Title }}</a></h5>
                  <p class="heading mb-2">{{ .Params.authors }} | <time>{{ .PublishDate.Format "January 2, 2006"}}</time></p>
                    <div class="card-text">
                      {{ .Summary }}
                    </div>
                       <p class="card__news-cta mb-2">
                        {{- if .Truncated -}}
                        <a class="btn-text btn-text--small" href='{{ .RelPermalink }}'>Read &rarr;</a>
                        {{- end -}}
                        </p>
                      <br>
                      <p class="m-4"><a class="tag-link" href="/authors/{{ .Params.name }}/">{{ .Params.authors  }}</a></hp> 
                      <!---TAGS WITH CAMMA SEPARATOR--->
                      <span class="ml-5">
                      <i class="fa fa-tag" aria-hidden="true"></i>
                      {{ range $i, $e := .Params.tags -}}
                      {{- if $i -}}, {{ end -}}
                      <a class="tag-link" href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ $e | humanize }}</a>
                      {{- end -}}
                     </span>
        </div>
    </div>
</div>


 


