{{ define "main" }}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h2 class="heading-tertiary u-margin-bottom-medium text-center">
        {{.Title}}
      </h2>
      <div class="timeline js-timeline-slider">
        {{ range .Pages.GroupByDate "Jan 2006"}}
        <div class="timeline-item">
          <div class="timeline-year"><span>{{.Key}}</span></div>
        </div>
        {{ range .Pages }}
        <div class="timeline-item">
          <div class="timeline-dot"></div>
          <div class="timeline-content timeline-card js--fadeInLeft">
            <div class="timeline-img-header">
              <img src="{{.Params.img}}" alt="" class="timeline-img-content" />
              <h2 class="timeline-header">{{.Title | markdownify}}</h2>
            </div>
            <div class="date">{{ .Date.Format "02 Jan 2006, 3:04 PM"}}</div>
            <p>
              <i class="fas fa-map-marker-alt timeline-icon"></i>
              {{.Params.venue | markdownify}}
            </p>
            <a class="title" href="{{ .Permalink }}">More</a>
          </div>
        </div>
        {{ end }} 
        {{ end }}
      </div>
    </div>
  </div>
</div>

{{ end }}
