{{ define "main" }}
{{ $a := 1 }}
<div class="container">
 {{ $years := slice }}
 {{ range .Site.Data.publications }}
 {{ $years = $years | append .year }}
 {{ end }}
 {{ $years = uniq $years }}
<h2>Publications</h2>
<div class="row">
    <div class="col-sm-10 mb-3">
    <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Search for title,author..">
</div>
 <div class="col-sm-2 mb-3">
   <button class="btn toggle-sort">sort<div class="fa fa-chevron-up sort"></div></button>
</div>
</div>
<div  id="myItems">
{{ range  $years  }}
<p class="years" >{{ $year := . }}</p>
{{ $pageCount := len ( where $.Site.Data.publications ".year" $year) }}

<div class="row years">
  <div class="col-12">
    <h1>
     {{ . }}(<span  style="color:red;">{{ $pageCount }} publication{{ if ne $pageCount 1 }}s{{ end }} </span>)</h1>
 </div>
     {{ range where $.Site.Data.publications ".year" $year }}  
     <div class="col-lg-3 col-md-6">
            <div class="card card__publications">
              <img
                src="images/publications/{{.image}}"
                alt=""
                class="card-img-top card__publications-img"
              />
              <div class="card__publications-icons">
                <i class="fas fa-user-tie"></i><span>{{.author}}</span>
              </div> 
              <div class="card-body">
                <h5 class="card-title card__publications-header">{{.title}}</h5>
              </div>
              <div class="card-footer">
                <div class="card__publications-icons">
                  {{ if .booktitle }}
                  <i class="fas fa-book"></i><span>{{.booktitle}} ({{.year}})</span>
                  {{ end }}
                  {{ if .journal }}
                  <i class="fas fa-book"></i><span>{{.journal}} ({{.year}})</span>
                  {{ end }}
                  {{ if .pages }}
                  <i class="far fa-file-alt"></i><span>{{.pages}}</span>
                  {{ end }}
                  {{ if .volume }}
                  <i class="far fa-file-alt"></i><span>{{.volume}}</span>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
     {{ end }}
   </div>
  }
</div>
{{ end }}

















