{{ define "main" }}

<div class="section">
<div class="row mt-2">
  <div class="col-12">
  <section class="section-hero-news hero hero--news" style="margin-top:4%;height: 35vh;">
  <div class="hero-breadcrumb">
  <div class="carousel__item--heading text-center">Publications</div>
  <ul class="hero-breadcrumb-list">
    <li><a href="/"><i class="fas fa-home"></i></a></li>
    <li><a href="#"><i class="fas fa-newspaper"></i> {{ .Title }}</a></li>
  </ul>
</div>
</section>
</div>
</div>
<div class ="row">
<div class="col">
  <div class="mt-5 text-center" style="height: 15vh; border-bottom: 1px solid #000;font-size: 1.5rem;">
   <b>Here is a list of various courses offered by the faculty associated with RBCDSAI.</b></div>
  
   <div style="transform:translate(86vh,-55%);border: 1px solid white;background-color: white;width: 7.35vw;padding: 4px;font-size: 1.40rem;"><strong>Home>publications</strong></div>
</div>
</div>
</div>
<section>
  <div class="container">
<div class="row mt-2">
  <div class="col-md-6">
    <h1>Publications</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card-body">
      <div class="text-center">
            2020
          </div>
       {{ with .Site.Data.publicationspage.publications }} 
          {{ range .year_2020 }}

          <h2 class=""><b><a  href="{{ .link }}">{{ .title }}</a></b></h2>
            <div>
              <h4 class="">{{ .author }}</h4>
                </div>
                  <div>
                    <h5 class="card-text">
                        {{ .journal }}
                    </h5>
                     <hr>
                  </div>
                  {{ end }}
                  {{ end }}
            </div>

        </div>
      </div>
      <div class="row">
     <div class="col">
     <div class="card-body">
      <div class="text-center">
            2019
          </div>
       {{ with .Site.Data.publicationspage.publications }} 
          {{ range .year_2019 }}
       <h2 class=""><b><a  href="{{ .link }}">{{ .title }}</a></b></h2>
            <div>
              <h4 class="">{{ .author }}</h4>
                </div>
                  <div>
                    <h5 class="card-text">
                        {{ .journal }}
                    </h5>
                     <hr>
                  </div>
                  {{ end }}
                  {{ end }}
            </div>

        </div>
      </div>

    <div class="row">
     <div class="col">
     <div class="card-body">
      <div class="text-center">
            2018
          </div>
       {{ with .Site.Data.publicationspage.publications }} 
          {{ range .year_2018 }}
        <h2 class=""><b><a  href="{{ .link }}">{{ .title }}</a></b></h2>
            <div>
              <h4 class="">{{ .author }}</h4>
                </div>
                  <div>
                    <h5 class="card-text">
                        {{ .journal }}
                    </h5>
                     <hr>
                  </div>
                  {{ end }}
                  {{ end }}
            </div>
          </div>
      </div>

       <div class="row">
     <div class="col">
     <div class="card-body">
      <div class="text-center">
            2018
          </div>
       {{ with .Site.Data.publicationspage.publications }} 
          {{ range .year_2019 }}
       <h1 class=""><b><a class="card-title card__news-header" href="{{ .link }}">{{ .title }}</a></b></h1>
            <div>
              <h4 class="">{{ .author }}</h4>
                </div>
                  <div>
                    <p class="card-text">
                        {{ .journal }}
                    </p>
                     <hr>
                  </div>
                  {{ end }}
                  {{ end }}
            </div>
          </div>
      </div>
    </div>
    </section>

    {{ end }}